.header {
  display: flex;
  justify-content: space-between;
  border: black solid 2px;
}

.logo {
  width: 150px;
}

.nav-items > ul {
  display: flex;
  margin-right: 10px;
}

.nav-items > ul > li {
  padding: 25px;
  list-style-type: none;
  font-size: 25px;
}

.restaurant-container {
  display: grid;
  margin: 10px 20px;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

.restaurant-card {
  border-radius: 5px;
  transition: all 0.05s ease 0s;
}
.restaurant-card:hover {
  cursor: pointer;
  transform: scale(0.95, 0.95);
}
.restaurant-image {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 20px;
}
.cuisines {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
  display: inline-block;
  margin-top: 6px;
}
.primary-text {
  font-weight: bolder;
}

h3,
h4 {
  margin: 6px 0px;
}
.filter{
  display: flex;
}
.filter-btn {
  border: 1px solid rgb(207, 205, 205);
  border-radius: 20px;
  width: 150px;
  text-align: center;
  height: 20px;
  padding: 5px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  
}

.shimmer-container {
  display: grid;
  margin: 10px 20px;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

.shimmer-card {
  width: auto;
  height: 300px;
  border-radius: 5px;
  margin-top: 35px;
  background-color: white;
}
.shimmer-img {
  height: 200px;
  width: 100%;
  background-color: rgb(241, 239, 239);
}
.shimmer-h1 {
  margin: 8px 0px;
  width: 110px;
  height: 15px;
  background-color: rgb(241, 239, 239);
}
.shimmer-h2 {
  margin: 5px 0px;
  width: 70px;
  height: 15px;
  background-color: rgb(241, 239, 239);
}
.login-btn {
  width: 65px;
  height: 30px;
  margin: 22px 0px;
  text-align: center;
  padding: 2px;
  background-color: rgb(52, 52, 248);
  font-size: 18px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.search-container {
  margin-top: 10px;
  margin-right: 16px;
}
.search-bar {
  border-radius: 5px;
  height: 30px;
  margin: 5px;
}
.search-btn {
  height: 29px;
  border-radius: 5px;
}
